<!DOCTYPEhtml>
{% load staticfiles %}
<html> 
	<head>
		<title>Street Tags: Add Photo</title> 
		<!-- Bootstrap core CSS -->
	  	<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	  	<!-- Custom styles for this template -->
	  	<link href="{% static 'css/business-frontpage.css' %}" rel="stylesheet">
	</head>
	<body>
		<!-- Navigation -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		    <div class="container">
		      <a class="navbar-brand" href="#">Street Tags</a>
		      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
		        <span class="navbar-toggler-icon"></span>
		      </button>
		      <div class="collapse navbar-collapse" id="navbarResponsive">
		        <ul class="navbar-nav ml-auto">
		          <li class="nav-item active">
		            <a class="nav-link" href="/">Home
		              <span class="sr-only">(current)</span>
		            </a>
		          </li>
		          <li class="nav-item">
		            <a class="nav-link" href="/street_tag/add_photo/">Add your photo</a>
		          </li>
		        </ul>
		      </div>
		    </div>
		</nav>
		<h1>Add a Photo</h1> 
		<div>
			<form id="photo_form" enctype="multipart/form-data" method="post" action="/street_tag/add_photo/"> 
				{% csrf_token %}
				{% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                    {{ field.errors }} </br>
                    {{ field.help_text }}
                	{{ field }}
				{% endfor %}
				<input type="submit" name="submit" value="Add photo to the map!" /> 
			</form>
		</div>
	</body>
</html>